<div class="right-container d-flex justify-content-end">
  <p id="message_<%= message.id %>"><%= message.message %></p>
  <%= button_to "削除", message_path(message), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm ml-2", remote: true, id: "delete_message_#{message.id}" %>
</div>