<% if @model == 'User' %>
  <h3>Users search for "<%= @word %>"</h2>
  <%= render 'users/index', users: @records %>
<% else %>
  <h3>Books search for "<%= @word %>"</h2>
  <%= render 'books/index', books: @records %>
<% end %>